.l.hendeca   { margin-left: 0.5em; text-indent: 0; padding-left: 0; }
.l.deca      { margin-left: 1.0em; text-indent: 0; padding-left: 0; }
.l.ennea     { margin-left: 1.5em; text-indent: 0; padding-left: 0; }
.l.octo      { margin-left: 2.0em; text-indent: 0; padding-left: 0; }
.l.hepta     { margin-left: 2.5em; text-indent: 0; padding-left: 0; }
.l.hexa      { margin-left: 3.0em; text-indent: 0; padding-left: 0; }
.l.penta     { margin-left: 3.5em; text-indent: 0; padding-left: 0; }
.l.tetra     { margin-left: 4.0em; text-indent: 0; padding-left: 0; }
.l.tri       { margin-left: 4.5em; text-indent: 0; padding-left: 0; }
.l.dis       { margin-left: 5.0em; text-indent: 0; padding-left: 0; }
.l.penta_el  { margin-left: 3.0em; text-indent: 0; padding-left: 0; }
.l.promythium{ margin-bottom: 2.0ex; text-indent: 0; padding-left: 0; }
.l.epimythium{ margin-top: 2.0ex; text-indent: 0; padding-left: 0; }
.p.manuscrits{ font-size: 12px; margin-top: 20px; background-color: #FBFAF8; border-radius: 8px;}

/** surcharge teipot */
figure { border: none; background: none; }
